body{ 
	background-color: #24248f;
}

.content{ 
	margin: 15% auto;
	background-color: #b300b3;
	width: 400px;
	box-shadow: 0px 6px 8px 0 rgba(0, 0, 0, 0.6);
}

.Profile{ 
}
.imgProf{ 
	height: 300px;
	width: 330px;
	border:  10px solid #24248f;
	border-radius: 50%;
	margin-top: -40%;
}
.line{ 
	width: 70%;
}
.content p{ 
	text-align: center;
}
 .content .nome, .content p{ 
 	color: #00ff80;
 }
 .nome{ 
 	text-align: center;
 }
.icons{ 
	text-align: center;
}
.icons a{ 
	margin-right: 15px;
}